

body {
    margin: 0;
    color: #3f4c63;
    background-color: #c7c7d1b0;
    font-family: 14px/1.231 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Lato', sans-serif;
  }
  
  .app {
    background: url(https://i.pinimg.com/originals/8b/bf/6e/8bbf6e9ea72c559ad0e6944fd4bf1daf.jpg);
    padding: 30px;
    height: 100vh;
  }
  
  .todo-list{
    background: #c6c8cf;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
  }
  
  .todo{
    background: rgba(38, 42, 80, 0.411);
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:rgba(245, 245, 247, 0.993)
  }
  
  .input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
  }